body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/fieldstripes.jpg");
}
.container{
    background: url("../images/blue-slate.jpg");
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    padding-bottom: 40px;
    color: white;
    max-width: 800px;
}

.question{
    margin-top: 40px;
    display: none;

}

.verdict{
    display: none;
}

#header{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

h3{
    color: white;
    margin: 30px;
}

.timer{
    margin-bottom: 30px;
}

.answers{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#timeLeft{
    display: none;
}

.answers:hover{
    background-color: gold;
    color: navy;
    font-weight: bolder;
    border-style: solid;
    border-color: navy;
    border-width: 1px;

}

#result{
    margin-bottom: 20px;
}

#reset-game{
    display: none;
}

.results{
    display: none;
}

a{
    margin: 30px;
}


