body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/fieldstripes.jpg");
}

#start-game{
    width: 80%;
    margin: auto;
    padding: 30px;
}
.container{
    background: url("../images/blue-slate.jpg");
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    max-width: 800px;
    margin-bottom: 60px;
}

.container2{
    min-height: 600px;
}
.question{
    margin-top: 20px;
    display: none;
    margin: auto;

}

.instructions{
    margin: 30px;
    line-height: 1.6em;
    margin: auto;
    padding: 20px;

}

.top{
    height: 70px;

}

h3.verdict{
    color: gold;
}

p.instructions{
    font-size: 20px;
}

h2.instructions{
    color: gold;
    font-weight: bold;
}

.verdict{
    display: none;
}

.actual-question{
    color: gold;
    border-bottom: 1px gold dotted;
    padding-bottom: 30px;
    padding-top: 30px;
}


#header{
    margin-top: 20px;
    margin-bottom: 20px;
    color: gold;
}

h3{
    color: white;
    margin: 30px;
}

.timer{
    margin-bottom: 10px;
}

.answers{
    font-size: 25px;
    
}

#timeLeft{
    display: none;
}

.answers:hover{
    background-color: gold;
    color: navy;
    font-weight: bolder;
    border-style: solid;
    border-color: navy;

}

#result{
    margin-bottom: 20px;
    color: gold;
    font-weight: bold
}

.answer-container{
    margin-top: 60px;
}

#reset-game{
    display: none;
}

.results{
    display: none;
}

a{
    margin: 30px;
}


